
.chart {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .chart h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  