<<<<<<< HEAD
/* Footer.css */
=======
>>>>>>> origin/master

.footer {
  text-align: center;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
<<<<<<< HEAD
=======
  position: fixed;
  bottom: 0;
>>>>>>> origin/master
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer-section {
  margin-bottom: 20px;
}

.footer-section h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 0;
  font-size: 14px;
}

.footer-section a {
  display: block;
  color: white;
  margin-bottom: 5px;
  text-decoration: none;
}
<<<<<<< HEAD
=======

>>>>>>> origin/master
