<<<<<<< HEAD
/* Home.css */
=======
>>>>>>> origin/master

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
<<<<<<< HEAD
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  position: fixed;
=======
}

nav {
>>>>>>> origin/master
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db;
  padding: 10px 20px;
<<<<<<< HEAD
  width: 100%;
  top: 0;
  z-index: 1000;
=======
>>>>>>> origin/master
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 18px;
  color: #fff;
  margin: 0;
}

button {
  background-color: #e74c3c;
  color: white;
  padding: 8px 16px;
<<<<<<< HEAD
  margin-left: 10px;
=======
  margin-left: 10px; /* Added margin for spacing between buttons */
>>>>>>> origin/master
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #c0392b;
}

.dashboard-container {
  display: flex;
<<<<<<< HEAD
  flex-direction: column; /* Stack elements in a column on smaller screens */
  max-width: 100%; /* Set maximum width to 100% */
  margin: 0 auto; /* Center the container horizontally */
  max-height: 100%;
}


.sidebar {
  width: 25%; /* 1:4 ratio for sidebar */
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  display: block; /* Show sidebar by default */
  margin-top: 60px;
  /* position: fixed; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* z-index: 1000; */
  /* position:fixed; */
}

.show-sidebar-btn {
  display: none; /* Hide the toggle button by default */
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
}


@media only screen and (max-width: 768px) {
  .sidebar {
    display: none; 
  }

  .show-sidebar-btn {
    display: block; 
    margin-top: 0;
  }

  .dashboard-container {
    flex-direction: column; 
  }

  .main-content {
    width: 100%; 
  }
}

@media only screen and (min-width: 769px) {
  .dashboard-container {
    flex-direction: row; /* Switch back to row layout for larger screens */
  }
}

.main-content {
  flex: 1; /* Takes the remaining space */
  padding: 20px;
  margin-top: 60px;
  background-color: #ecf0f1;
  box-sizing: border-box;
}

=======
  height: calc(100vh - 40px); /* Adjusted for top navigation height */
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
}

/* Footer styling */
>>>>>>> origin/master
.footer {
  text-align: center;
  background-color: #2c3e50;
  color: white;
<<<<<<< HEAD
  padding: 20px;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
=======
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
>>>>>>> origin/master
}
