<<<<<<< HEAD
/* QuickOverview.css */
=======
>>>>>>> origin/master

.quick-overview {
    display: flex;
    justify-content: space-between;
  }
  
  .overview-section {
    flex: 1;
<<<<<<< HEAD
    background-color: #ecf0f1;
=======
    background-color: #08252c;
>>>>>>> origin/master
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .overview-section h3 {
    font-size: 16px;
    margin-bottom: 10px;
<<<<<<< HEAD
    font-weight: bold; /* Added bold style */
=======
    font-weight: bold; 
>>>>>>> origin/master
  }
  
  .overview-section p {
    margin: 0;
    font-size: 14px;
  }
  
  .overview-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .overview-section li {
    margin-bottom: 5px;
    font-size: 14px;
  }
  